  {{#if error.status}}
    <p>{{error.message}}</p>
  {{/if}}
  <div>
    <h1>Perfil</h1>
    <div class="user_info">
      {{#each userData}}
      <p>First Name: {{this.first_name}}</p>
      <p>Last Name: {{this.last_name}}</p>
      <p>Email: {{this.email}}</p>
      <p>Age: {{this.age}}</p>
      {{/each}}
    </div>
    <a href="/logout" class="btn-primary" id="logout" style="display: block;">Log Out</a>
  </div>
  <div>
      {{#each productos}}
        <div class="product">
          <img src="/images/products/{{this.thumbnails.[0]}}" alt="{{this.title}}"/>
          <h3>Title: {{this.title}}</h3>
          <p>Price: {{this.price}}</p>
          <div>
            <a href="/product/{{this._id}}" class="btn-primary">Detail</a>
            <button data-id="{{this._id}}" class="btn-primary addtocart">Add to cart</button>
          </div>
        </div>
      {{/each}}
</div>